In [1]:
import pandas as pd
import numpy as np

In [2]:
df_review=pd.read_parquet('Datasets/Yelp/review.parquet')

In [3]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 480.0+ MB

In [4]:
#verificamos los nulos
df_review.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [5]:
df_review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

Eliminamos las filas que no son necesarias para le proyecto

In [6]:
df_review=df_review[['review_id','business_id','user_id','stars','useful','text','date']]

In [7]:
df_review.columns

Index(['review_id', 'business_id', 'user_id', 'stars', 'useful', 'text',
       'date'],
      dtype='object')

In [8]:
#Nos quedamos con los reviews que estan entre los aÃ±os 2016 y 2021
df_review['date']=pd.to_datetime(df_review['date'])
df_review=df_review[(df_review['date']>='2016-01-01') & (df_review['date']<='2021-12-31')]

In [9]:
#Verificamos que se hayan filtrado los datos
df_review['date'].min(),df_review['date'].max()

(Timestamp('2016-01-01 00:00:40'), Timestamp('2021-12-30 23:59:36'))

In [10]:
#Verificamos los duplicados
df_review.duplicated().sum()

0

In [11]:
#Filtramos con el dataset de negocios   
df_business=pd.read_parquet('Datos limpios/restaurantes_yelps.parquet')

In [12]:
df_review=pd.merge(df_review,df_business['business_id'],on='business_id',how='inner')

In [13]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 932123 entries, 0 to 932122
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    932123 non-null  object
 1   business_id  932123 non-null  object
 2   user_id      932123 non-null  object
 3   stars        932123 non-null  int64
 4   useful       932123 non-null  int64
 5   text         932123 non-null  object
 6   date         932123 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 49.8+ MB

In [18]:
df_review.to_parquet('Datos limpios/reviews_yelps.parquet')

In [19]:
df=pd.read_parquet('Datos limpios/reviews_yelps.parquet')

In [20]:
df

,review_id,business_id,user_id,stars,useful,text,date,sentiment
0,KU_O5udG6zpxOg-VcAEodg,XQfwVwDr-v0ZS3_CbbE5Xw,mh_-eMZ6K5RLWhZyISBhwA,3,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,-0.91
1,VJxlBnJmCDIy8DFG0kjSow,XQfwVwDr-v0ZS3_CbbE5Xw,Iaee7y6zdSB3B-kRCo4z1w,2,0,This is the second time we tried turning point...,2017-05-13 17:06:55,-1.04
2,S6pQZQocMB1WHMjTRbt77A,XQfwVwDr-v0ZS3_CbbE5Xw,ejFxLGqQcWNLdNByJlIhnQ,4,2,The place is cute and the staff was very frien...,2017-08-08 00:58:18,-0.48
3,WqgTKVqWVHDHjnjEsBvUgg,XQfwVwDr-v0ZS3_CbbE5Xw,f7xa0p_1V9lx53iIGN5Sug,3,0,We came on a Saturday morning after waiting a ...,2017-11-19 02:20:23,-0.90
4,M0wzFFb7pefOPcxeRVbLag,XQfwVwDr-v0ZS3_CbbE5Xw,dCooFVCk8M1nVaQqcfTL3Q,2,0,"Mediocre at best. The decor is very nice, and ...",2017-09-09 17:49:47,-0.92
...,...,...,...,...,...,...,...,...
932118,z-RCSaV5RqCsSD5DZmc8HA,e_E-jq9mwm7wk75k7Yi-Xw,CiSXaYHWYsIqxgyAeZc03A,5,1,Decided to celebrate our 35th wedding annivers...,2021-11-28 03:45:42,-0.81
932119,V8WsoH8xNmj4jqW7walKvQ,e_E-jq9mwm7wk75k7Yi-Xw,Bkqz4gBLAXIS5BKDfoCNhg,5,2,"Wow, where to begin. I've had my eye on this g...",2021-12-05 15:42:04,-0.73
932120,LYKChxbug4czF7ue6j0A4w,e_E-jq9mwm7wk75k7Yi-Xw,jiiVEghxAusmeYxw1OYpQw,5,2,There are almost no words for how lovely Lark ...,2021-12-19 23:52:58,-0.66
932121,T4Yql8j7BJWhS3sbr1rN3g,ziyH038atwcCDZDLq9K9tQ,lq-hd6eJjP3eHPX33naivg,2,0,"Pretty place, modern deco, nice services affor...",2021-01-03 01:10:57,-0.46
932122,ItaHxBDllyjkRyzcqWjh6A,SS6QZgF1jsKMeN5QFZvIkQ,Fb8aMM_DcxAitISZsGs9mQ,1,0,Absolutely horrible service. Front service too...,2020-09-06 14:01:46,-1.26

In [16]:
from textblob import TextBlob
def calculate_sentiment(text):
    if text is None:
        return 0
    else:
        # Redondea el valor de la polaridad a 2 decimales
        return round(TextBlob(text).sentiment.polarity, 2)
df_review['sentiment'] = df_review['text'].apply(calculate_sentiment)
#redondeamos los numeros
df_review['sentiment']=df_review['sentiment'].round(2)
#le restamos 1
df_review['sentiment']=df_review['sentiment']-1