In [85]:
import pandas as pd
import numpy as np

In [86]:
df_checkin=pd.read_json('Datasets/Yelp/checkin.json',lines=True)

In [87]:
df_checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

In [88]:
df_checkin.head(3)

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22

In [89]:
#Convertimos la cadena de texto a lista
df_checkin['date'] = df_checkin['date'].str.split(',')

# Usamos explode
df_checkin_exploded = df_checkin.explode('date')

# Mostrar las primeras filas para ve
df_checkin_exploded.head()

              business_id                  date
0  ---kPU91CF4Lq2-WlRu9Lw   2020-03-13 21:10:56
0  ---kPU91CF4Lq2-WlRu9Lw   2020-06-02 22:18:06
0  ---kPU91CF4Lq2-WlRu9Lw   2020-07-24 22:42:27
0  ---kPU91CF4Lq2-WlRu9Lw   2020-10-24 21:36:13
0  ---kPU91CF4Lq2-WlRu9Lw   2020-12-09 21:23:33

In [90]:
df_checkin_exploded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13356875 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Dtype
---  ------       -----
 0   business_id  object
 1   date         object
dtypes: object(2)
memory usage: 305.7+ MB

In [91]:
#Normalizamos la columna date
df_checkin_exploded['date'] = df_checkin_exploded['date'].astype(str)
df_checkin_exploded['date'] = df_checkin_exploded['date'].str.strip()
df_checkin_exploded['date'] = pd.to_datetime(df_checkin_exploded['date'], format='%Y-%m-%d %H:%M:%S')

In [92]:
df_checkin_exploded['date'].dt.year.value_counts()

date
2015    1709857
2014    1625884
2016    1554774
2013    1552799
2017    1348466
2012    1289492
2018    1157252
2019    1035160
2011     901457
2021     477467
2020     474172
2010     209153
2022      20940
2009          2
Name: count, dtype: int64

In [93]:
#Nos quedamos con los datos que estan entre 2016 y 2021
df_checkin_exploded = df_checkin_exploded[(df_checkin_exploded['date'].dt.year >= 2016) & (df_checkin_exploded['date'].dt.year <= 2021)]

In [94]:
df_checkin_exploded['date'].dt.year.value_counts()

date
2016    1554774
2017    1348466
2018    1157252
2019    1035160
2021     477467
2020     474172
Name: count, dtype: int64

In [95]:
df_business=pd.read_parquet('Datos limpios/restaurantes_yelps.parquet')

In [96]:
df_checkin_exploded=pd.merge(df_checkin_exploded,df_business[['business_id']],on='business_id',how='inner')

In [98]:
df_checkin_exploded.to_parquet('Datos limpios/checkin_yelps.parquet')