In [16]:
import pandas as pd
import numpy as np

In [17]:
df_review=pd.read_parquet('Datasets/Yelp/review.parquet')

In [18]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 480.0+ MB

In [19]:
#verificamos los nulos
df_review.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [20]:
df_review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

Eliminamos las filas que no son necesarias para le proyecto

In [21]:
df_review=df_review[['review_id','business_id','user_id','stars','useful','text','date']]

In [22]:
df_review.columns

Index(['review_id', 'business_id', 'user_id', 'stars', 'useful', 'text',
       'date'],
      dtype='object')

In [26]:
#Nos quedamos con los reviews que estan entre los aÃ±os 2016 y 2021
df_review['date']=pd.to_datetime(df_review['date'])
df_review=df_review[(df_review['date']>='2016-01-01') & (df_review['date']<='2021-12-31')]

In [28]:
#Verificamos que se hayan filtrado los datos
df_review['date'].min(),df_review['date'].max()

(Timestamp('2016-01-01 00:00:40'), Timestamp('2021-12-30 23:59:36'))

In [29]:
#Verificamos los duplicados
df_review.duplicated().sum()

0

In [30]:
#Filtramos con el dataset de negocios   
df_business=pd.read_parquet('Datos limpios/restaurantes_yelps.parquet')

In [31]:
df_review=pd.merge(df_review,df_business['business_id'],on='business_id',how='inner')

In [33]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1429595 entries, 0 to 1429594
Data columns (total 7 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   review_id    1429595 non-null  object
 1   business_id  1429595 non-null  object
 2   user_id      1429595 non-null  object
 3   stars        1429595 non-null  int64
 4   useful       1429595 non-null  int64
 5   text         1429595 non-null  object
 6   date         1429595 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 76.3+ MB

In [34]:
df_review.to_parquet('Datos limpios/reviews_yelps.parquet')