In [34]:
import pandas as pd
# Librerías análisis de sentimientos
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk import sentiment
from nltk import word_tokenize
nltk.download('vader_lexicon') # Descarga vader_lexicon para el análisis de sentimientos.
nltk.download('punkt') # Descarga punkt, un modelo de toquenización que divide el texto en palabras individuales

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\juan\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\juan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [35]:
df=pd.read_json(r'Datasets/Yelp/review1.json', lines=True)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349514 entries, 0 to 349513
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    349514 non-null  object
 1   user_id      349514 non-null  object
 2   business_id  349514 non-null  object
 3   stars        349514 non-null  int64
 4   useful       349514 non-null  int64
 5   funny        349514 non-null  int64
 6   cool         349514 non-null  int64
 7   text         349514 non-null  object
 8   date         349514 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 24.0+ MB

In [37]:
df2=pd.read_parquet(r'E:\Data Science\PF\Datos limpios\restaurantes_yelps.parquet')

In [38]:
df.drop(columns=['useful', 'funny','cool'], inplace=True)

In [39]:
df.head(3)

,review_id,user_id,business_id,stars,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30

In [40]:
df=pd.merge(df, df2['business_id'], on='business_id',how='inner')

In [41]:
df.head(3)

,review_id,user_id,business_id,stars,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2,This is the second time we tried turning point...,2017-05-13 17:06:55
2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,4,The place is cute and the staff was very frien...,2017-08-08 00:58:18

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73877 entries, 0 to 73876
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    73877 non-null  object
 1   user_id      73877 non-null  object
 2   business_id  73877 non-null  object
 3   stars        73877 non-null  int64
 4   text         73877 non-null  object
 5   date         73877 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 3.4+ MB

In [43]:
analizador = SentimentIntensityAnalyzer()
def Puntaje_Sentimiento(text):
    text=text.lower()
    tokens = word_tokenize(text)  # Tokenizar el texto
    scores = analizador.polarity_scores(text)  # Obtener los puntajes de sentimiento
    return scores['compound']  # Retornar el puntaje compuesto

In [44]:
df['score_sentimientos'] = df['text'].apply(Puntaje_Sentimiento)

In [48]:
df['text'].iloc[0]

"If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to like it! I have been to it's other locations in NJ and never had a bad experience. \n\nThe food is good, but it takes a very long time to come out. The waitstaff is very young, but usually pleasant. We have just had too many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker."

In [49]:
df.drop(columns=['text'], inplace=True)

In [50]:
df.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'date',
       'score_sentimientos'],
      dtype='object')

In [60]:
prueba=pd.read_parquet(r'E:\Data Science\PF\Datos limpios\reviews_restaurantes.parquet')

In [61]:
prueba.columns

Index(['gmap_id', 'name', 'rating', 'time', 'text'], dtype='object')

In [62]:
#elimino las las reviews vacias
prueba.dropna(subset=['text'],inplace=True)

In [63]:
prueba.shape

(7402928, 5)

In [65]:
prueba[prueba['text']=='']

Empty DataFrame
Columns: [gmap_id, name, rating, time, text]
Index: []